{:kotoba.app/id "cloud.itonami.isic-0230", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreie7usigwdbav6c5iz6vtae65monbf5y4af63a6deg7krhwfn5sloy", :kotoba.app/embed-url "ipfs://bafkreie7usigwdbav6c5iz6vtae65monbf5y4af63a6deg7krhwfn5sloy", :published {:archive "https://kotobase.net/ipfs/bafkreie7usigwdbav6c5iz6vtae65monbf5y4af63a6deg7krhwfn5sloy", :size 72665, :put-status 201, :get-status 200, :at "2026-08-15T13:32:38.240Z"}}
